[Unit]
Description=Android vendor firmware extraction
Wants=sysinit.target
After=-.mount tmp.mount boot.mount
ConditionPathExists=!/var/lib/droid-juicer/status.json

[Service]
Type=oneshot
ExecStart=/usr/bin/droid-juicer
ExecStartPost=/usr/sbin/reboot

[Install]
WantedBy=basic.target
